@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html {
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body {
  color: #C8C8C8;
  background-color: #2A2929;
  font-family: 'Fredoka One', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

main {
  background-color: #2A2929;
  padding: 40px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.game-controls {
  text-align: center;
}

.start-button {
  font-family: 'Fredoka One', sans-serif;
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #C9C8C8;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #C9C8C8;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}

.start-button:hover {
  color: #FFFFFF;
  font-size: 18px;
  border-color: #FFFFFF;
}

.status {
  font-size: 22px;
}

.pad-container {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  grid-gap: 3px;
  margin: 20px;
}

.pad-container div {
  border: 5px solid #C9C8C8;
  transition: all 0.2s;
}
.pad-container div:hover,
.pad-container div:focus {
  transform: scale(1.04);
}

.pad-container div:active,
.pad-container div.activated {
  transform: scale(1.07);
}

.pad-red {
  border-top-left-radius: 200px;
  background-color: #E86E6E;
}

.pad-red:hover,
.pad-red:focus {
  background-color: #ff451a;
}

.pad-red:active,
.pad-red.activated {
  background-color: #FF3F3F;
}

.pad-green {
  border-top-right-radius: 200px;
  background-color: #75EA6E;
}

.pad-green:hover,
.pad-green:focus {
  background-color: #8cc218;
}

.pad-green:active,
.pad-green.activated {
  background-color: #48FF3E;
}

.pad-yellow {
  border-bottom-right-radius: 200px;
  background-color: #DCC46B;
}

.pad-yellow:hover,
.pad-yellow:focus {
  background-color: #ffb900;
}

.pad-yellow:active,
.pad-yellow.activated {
  background-color: #FFD43A;
}

.pad-blue {
  border-bottom-left-radius: 200px;
  background-color: #6D77DE;
}

.pad-blue:hover,
.pad-blue:focus {
  background-color: #139ddd;
}

.pad-blue:active,
.pad-blue.activated {
  background-color: #3F4FFF;
}

.hidden {
  display: none;
}

.unclickable {
  pointer-events: none;
}